<!DOCTYPE html>
<html>
  <body>
    <a href="/">home</a>
    <a href="login">login</a>
    <form action="/register" method="POST">
      <h2>register</h2>
      {% if message %}
        <p>{{ message }}</p>
      {% endif %}
      <div>
        <input type="text" name="username" placeholder="username" minlength="1" maxlength="20">
      </div>
      <div>
        <input type="password" name="password1" placeholder="password">
      </div>
      <div>
        <input type="password" name="password2" placeholder="password again">
      </div>
      <input type="submit" value="register">
    </form>
  </body>
</html>